spring:
  application:
    name: spring-restapi-openapi-template
server:
  port: 8090
  servlet:
    context-path: /template

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    display-request-duration: true

app:
  cors:
    enabled:  ${CORS_ENABLED:true}
    allowed-origins:
      - "*"
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
      - PATCH
    allowed-headers:
      - "*"
    allow-credentials: false
    max-age: 3600